@font-face {
    font-family: 'Helvetica';
    src: url('../../font/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Helvetica", sans-serif;
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: #377ed9;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 80px;
    margin: 0 10px;
}

.nav-bar ul a:hover {
    color: black;
}

.nav-menu {
    display: flex;
    margin: 0 40px;
    list-style: none;
}

.center {
    display: flex;
    margin: 40px;
    justify-content: center;
}

#cards-cars {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 20px;
}

.card {
    background: #69a2dc;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 5px;
    border-radius: 16px;
    padding: 3px;
    transition: transform 0.4s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    border-radius: 8px;
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.card-container {
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-container h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-container p {
    font-size: 16px;
    margin-bottom: 15px;
}

.card-button {
    display: inline-block;
    background-color: #fff;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
}

.form-section {
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 100px;
    padding: 20px;
    max-width: 600px;
    background: #619bd7;
    border-radius: 10px;
}

.form-header {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-header:first-letter {
    color: white;
}

.form-content {
    margin: 10px 30px 10px 30px;
    max-width: 100%;
}

.input {
    justify-content: space-between;
    display: flex;
    margin: 20px 0;
    overflow: hidden;
}

.checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input, textarea {
    outline: none;
    border: 1px solid transparent;
    border-radius: 16px;
}

input:focus, textarea:focus {
    background: whitesmoke;
}

.checkbox input {
    border: transparent;
    border-radius: 16px;
    margin-right: 20px;
}

.form-submit {
    display: flex;
    justify-content: center;
}

.form-submit button:nth-child(1) {
    background: #1655d9;
    color: white;
    border: transparent;
    border-radius: 16px;
    padding: 5px 10px;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5vh;
    background: #69a2dc;
}